<button (click)="exportExcel()"
        class="grow flex justify-center rounded-md bg-blue-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 ">
    <svg fill="currentColor" height="1em" viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128z"/>
    </svg>
    <span class="ml-1" >{{'Export'|translate}}</span>
</button>
