<div class="relative  rounded-sm px-4 pt-4 mb-4 shadow-sm grid justify-items-stretch bg-white">
    <div class="border-b border-slate-500 grid justify-items-stretch pb-2">
        <div class="flex space-x-4 w-fit mb-2">
            <div class=" w-fit">
                <ng-content select="[currency_icon]"class=" w-fit h-10 overflow-hidden rounded-xl"></ng-content>
            </div>
            <dt class="flex items-center text-sm font-medium text-gray-500 mb-1">{{'label'|translate}}</dt>
        </div>
        <div class="grid grid-cols-2 gap-1 place-content-start flex items-center mb-2">
            <dt class="text-sm font-medium text-gray-500 justify-self-start mb-1">{{'Credit Digital Income'|translate}}</dt>
            <dd *ngIf="metrics$ | async as systemBalance ; else textLoader"
                class="text-sm font-bold tracking-tight text-gray-500 justify-self-end">{{ systemBalance?.data?.systemBalance | currency:currency:'code':'2.2-2':'fr' }}
            </dd>
        </div>
        <div class="grid grid-cols-2 gap-1 place-content-start flex items-center mb-2">
            <dt class="text-sm font-medium text-gray-500 justify-self-start mb-1">{{'Overdraft Total flux'|translate}}</dt>
            <dd *ngIf="metrics$ | async as overdraft  ; else textLoader"
                class="text-sm font-bold tracking-tight text-gray-500 justify-self-end">{{ overdraft?.data?.overdraftFlux | currency:currency:'code':'2.2-2':'fr' }}
            </dd>
        </div>
        <div class="grid grid-cols-2 gap-1 place-content-start flex items-center mb-2">
            <dt class="text-sm font-medium text-gray-500 justify-self-start mb-1">{{'Nano Credit Total Flux'|translate}}</dt>
            <dd *ngIf="metrics$ | async as nanoCredit  ; else textLoader"
                class="text-sm font-bold tracking-tight text-gray-500 justify-self-end">{{ nanoCredit?.data?.nanoCreditFlux| currency:currency:'code':'2.2-2':'fr' }}
            </dd>
        </div>
    </div>
    <app-period-select-dialog (onPeriodChange)="onPeriodChange($event)" [defaultPeriod]="7" [ever]="true"/>
</div>



<ng-template #textLoader>
    <div class="max-w-sm animate-pulse grid justify-items-stretch" role="status">
        <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-2.5 justify-self-end"></div>
    </div>
</ng-template>
